 body {
	margin: 0;
	padding: 0;
 }
#RHB{
      height: 50%;
      width: 100%;
     }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1366px;
	 height: 768px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #back 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1366px;
	 height: 768px;
	 z-index:1;
} 

 #back_0 
{ 
	 left: 30px; 
	 top: 31px; 
	 position: absolute; 
	 width: 91px;
	 height: 26px;
	 z-index:2;
} 
 #Signout 
{ 
	 left: 1183px; 
	 top: 31px; 
	 position: absolute; 
	 width: 126px;
	 height: 33px;
	 z-index:3;
} 

 #name 
{ 
	 left: 407px; 
	 top: 168px; 
	 position: absolute; 
	 width: 570px;
	 height: 44px;
	 z-index:4;
} 

 #price 
{ 
	 left: 407px; 
	 top: 281px; 
	 position: absolute; 
	 width: 570px;
	 height: 44px;
	 z-index:5;
} 

 #image 
{ 
	 left: 407px; 
	 top: 392px; 
	 position: absolute; 
	 width: 150px;
	 height: 44px;
	 z-index:6;
} 

 #Add 
{ 
	 left: 557px; 
	 top: 500px; 
	 position: absolute; 
	 width: 261px;
	 height: 66px;
	 z-index:7;
} 
 #Delete 
{ 
	 left: 225px; 
	 top: 500px; 
	 position: absolute; 
	 width: 261px;
	 height: 66px;
	 z-index:7;
} 


 #back_2
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1368px;
	 height: 768px;
	 z-index:1;
} 

 #Signin 
{ 
	 left: 624px; 
	 top: 639px; 
	 position: absolute; 
	 width: 120px;
	 height: 38px;
	 z-index:2;
} 

 #logo 
{ 
	 left: 517px; 
	 top: 171px; 
	 position: absolute; 
	 width: 331px;
	 height: 427px;
	 z-index:3;
} 

 #user 
{ 
	 left: 553px; 
	 top: 20px; 
	 position: absolute; 
	 width: 107px;
	 height: 38px;
	 z-index:2;
} 

 #sProducts 
{ 
	 left: 662px; 
	 top: 17px; 
	 position: absolute; 
	 width: 267px;
	 height: 42px;
	 z-index:3;
} 

 #table 
{ 
	 left: 52px; 
	 top: 220px; 
	 position: absolute; 
	 width: 1268px;
	 height: 514px;
	 z-index:4;
} 

 #Add 
{ 
	 left: 118px; 
	 top: 161px; 
	 position: absolute; 
	 width: 147px;
	 height: 46px;
	 z-index:5;
} 

 #icon 
{ 
	 left: 68px; 
	 top: 169px; 
	 position: absolute; 
	 width: 38px;
	 height: 38px;
	 z-index:6;
} 


 #create 
{ 
	 left: 553px; 
	 top: 466px; 
	 position: absolute; 
	 width: 232px;
	 height: 68px;
	 z-index:1;
}
 #upload 
{ 
	 left: 553px; 
	 top: 466px; 
	 position: absolute; 
	 width: 232px;
	 height: 68px;
	 z-index:1;
} 

 #newSeller 
{ 
	 left: 553px; 
	 top: 195px; 
	 position: absolute; 
	 width: 222px;
	 height: 48px;
	 z-index:2;
} 

 #Password 
{ 
	 left: 548px; 
	 top: 352px; 
	 position: absolute; 
	 width: 230px;
	 height: 48px;
	 z-index:3;
} 

 #img 
{ 
	 left: 456px; 
	 top: 121px; 
	 position: absolute; 
	 width: 453px;
	 height: 331px;
	 z-index:1;
} 

 #Title 
{ 
	 left: 625px; 
	 top: 508px; 
	 position: absolute; 
	 width: 100px;
	 height: 46px;
	 z-index:2;
} 

 #Price 
{ 
	 left: 625px; 
	 top: 595px; 
	 position: absolute; 
	 width: 119px;
	 height: 46px;
	 z-index:3;
} 


 #back_1 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1366px;
	 height: 84px;
	 z-index:2;
} 

 #loginpanel 
{ 
	 left: 469px; 
	 top: 291px; 
	 position: absolute; 
	 width: 478px;
	 height: 245px;
	 z-index:3;
} 

 #username 
{ 
	 left: 536px; 
	 top: 381px; 
	 position: absolute; 
	 width: 345px;
	 height: 45px;
	 z-index:4;
} 

 #password 
{ 
	 left: 535px; 
	 top: 439px; 
	 position: absolute; 
	 width: 345px;
	 height: 45px;
	 z-index:5;
} 
